NEW sample

<%= form_tag create_sample_path, method: 'post' do %>

  <p>

    <%= label_tag :key1, "key1: Pull Down Menu" %>
    <%= collection_select :data, :key1, Model.all, :id, :name, include_blank: true %>

    <br>

    <%= label_tag :key2, "key2: Free Text" %>

    <% tf = text_field :data, :key2, value: "ENTER_TEXT" %>
    <%= tf %>

    <br>
    <% vals = tf.split(' ') %>
    <% value = 'default' %>
    <% vals.each { |val| %>
      <% if val.start_with?('value=') %>
        <% value = val.dup %>
        <% value.slice!('value=') %>
        <% break %>
      <% end %>
    <% } %>



    <%= "key2 = #{tf}" %>
    <br>
    <%= "key2.value = #{value}" %>


  </p>

  <p>
    <%= submit_tag 'Do' %>
  </p>

<% end %>

